/* reset css */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Varela&display=swap");
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
section,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  line-height: initial;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
}

p,
span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #626262;
}
@media (max-width: 991px) {
  p,
  span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: #222222;
}
@media (max-width: 991px) {
  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: #222222;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}
@media (max-width: 991px) {
  h3 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}
@media (max-width: 991px) {
  h5 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}
@media (max-width: 991px) {
  h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

button, .button {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  background-color: #e72e6b;
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  max-width: max-content;
  align-items: center;
  gap: 0.5rem;
}
button .material-symbols-outlined, .button .material-symbols-outlined {
  color: #ffffff;
  font-size: 1rem;
}
@media (hover: hover) {
  button:hover, .button:hover {
    background-color: #d62660;
  }
}
button.btn-white, .button.btn-white {
  background-color: #ffffff;
  color: #e72e6b;
  transition: background-color color 0.3s ease-in-out;
}
@media (hover: hover) {
  button.btn-white:hover, .button.btn-white:hover {
    background-color: #fdf2f5;
    color: #d62660;
  }
}

.swiper-button-next, .swiper-button-prev {
  border-radius: 3rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: #222222;
  transition: background-color 0.3s ease-in-out;
}
.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
}
@media (hover: hover) {
  .swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@media (max-width: 991px) {
  .swiper-button-next, .swiper-button-prev {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 575px) {
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev {
  left: 2.5rem;
}
@media (max-width: 991px) {
  .swiper-button-prev {
    left: 1.25rem;
  }
}

.swiper-button-next {
  right: 2.5rem;
}
@media (max-width: 991px) {
  .swiper-button-next {
    right: 1.25rem;
  }
}

.container {
  max-width: 75rem;
  margin: auto;
}
@media (max-width: 1279px) {
  .container {
    max-width: calc(100svw - 2.5rem);
  }
}
@media (max-width: 575px) {
  .container {
    max-width: calc(100svw - 3rem);
  }
}

#keyvision {
  width: 100dvw;
  height: 100dvh;
  background-color: #e72e6b;
  background-image: url(../images/G.svg);
  background-repeat: no-repeat;
  background-size: 115svh;
  background-position: left -15svw top -5svh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: bg-in 0.8s ease-in backwards;
}
#keyvision .header {
  padding: 2rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
#keyvision .title {
  transform: translate(0, 7dvh);
  text-align: center;
  animation: title-in 0.5s ease-in 1s backwards;
}
#keyvision .title h1 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #ffffff;
}
#keyvision .title p {
  font-size: 1.25rem;
  color: #ffffff;
}
#keyvision button {
  position: absolute;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 2.5rem;
  border: 0.25rem solid #222222;
  bottom: 3.25rem;
  right: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  animation: btn-in 0.5s ease-in 1.6s backwards;
}
#keyvision button span {
  color: #222222;
  font-size: 2.5rem;
}
@media (hover: hover) {
  #keyvision button:hover {
    background-color: #e72e6b;
    transform: translate(0, 0.5rem);
  }
}
@keyframes bg-in {
  0% {
    background-position: left -60svw top -5svh;
  }
  100% {
    background-position: left -15svw top -5svh;
  }
}
@keyframes title-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 991px) {
  #keyvision {
    padding: 1rem;
    background-size: 115svh;
    background-position: left -62svw top -6svh;
    animation-name: bg-in-tablet;
  }
  #keyvision .title {
    transform: translate(0, 0);
  }
  #keyvision .title h1 {
    font-size: 3.25rem;
  }
  #keyvision .title p {
    padding: 0 1.25rem;
    font-size: 1rem;
  }
  #keyvision .title p br {
    display: none;
  }
  #keyvision button {
    bottom: 1.5rem;
    right: 1.5rem;
  }
  @keyframes bg-in-tablet {
    0% {
      background-position: left -150svw top -6svh;
    }
    100% {
      background-position: left -62svw top -6svh;
    }
  }
}
@media (max-width: 991px) and (orientation: landscape) {
  #keyvision {
    animation-name: bg-in-landscape;
    background-size: 160svh;
    background-position: -8svw -50svh;
  }
  @keyframes bg-in-landscape {
    0% {
      background-position: -60svw -50svh;
    }
    100% {
      background-position: -8svw -50svh;
    }
  }
}
@media (max-width: 575px) {
  #keyvision {
    animation: none;
  }
  #keyvision button {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

#sticky {
  padding: 2.5rem 0 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}
#sticky .content {
  border-top: 0.0625rem solid #d7d7d7;
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  text-align: center;
}
#sticky .content li {
  padding-top: 1rem;
  position: relative;
  width: 11.75rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
#sticky .content li span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #626262;
}
@media (max-width: 991px) {
  #sticky .content li span {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
#sticky .content li::before, #sticky .content li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sticky .content li::before {
  background-color: #ffffff;
  height: 0.25rem;
  width: 2.5rem;
}
#sticky .content li:after {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #d7d7d7;
  border-radius: 0.75rem;
  transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
  #sticky .content li:hover span {
    color: #222222;
  }
}
#sticky .content li.active span {
  color: #222222;
}
#sticky .content li.active::after {
  background-color: #222222;
}
#sticky.sticked {
  background: linear-gradient(to bottom, white 28%, rgba(255, 255, 255, 0.7) 100%);
}
@media (max-width: 991px) {
  #sticky .content {
    gap: 1.25rem;
  }
  #sticky .content li {
    width: 10.5rem;
  }
}
@media (max-width: 991px) and (orientation: landscape) {
  #sticky {
    display: none;
  }
}
@media (max-width: 575px) {
  #sticky {
    display: none;
  }
}

#history {
  padding: 6.25rem 0rem;
  border-bottom: 0.0625rem solid #d7d7d7;
}
#history .title {
  display: flex;
  gap: 2rem;
  margin-bottom: 6.25rem;
}
#history .title h2 {
  flex: 5;
  color: #222222;
}
#history .title h2 span {
  display: none;
}
#history .title p {
  flex: 4;
  color: #626262;
  margin-top: 0.5rem;
}
#history .content {
  margin-top: 2.5rem;
  background-color: #e72e6b;
  color: #ffffff;
  border-radius: 3.125rem;
  border: 0.125rem solid #f182a6;
  box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.2);
  height: 35.625rem;
  position: relative;
  overflow: hidden;
}
#history .content .timeline {
  height: calc(100% - 3.75rem);
  display: flex;
  align-items: center;
  padding-left: 34.375rem;
  overflow-y: hidden;
  overflow-x: scroll;
}
#history .content .timeline::-webkit-scrollbar {
  display: none;
}
#history .content .timeline li {
  position: relative;
  min-width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#history .content .timeline li::before {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background-color: rgba(34, 34, 34, 0.5);
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
#history .content .timeline li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 0.75rem);
  transform: translate(0, -50%);
  height: 0.125rem;
  background-color: #ffffff;
}
#history .content .timeline li h5 {
  position: absolute;
  top: calc(100% + 1.125rem);
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
#history .content .timeline li .popover {
  position: absolute;
  bottom: calc(100% + 2.25rem);
  left: -1.75rem;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  width: 25rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#history .content .timeline li .popover::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  position: absolute;
  width: 1rem;
  height: 0.75rem;
  top: calc(100% - 0.0625rem);
  left: 2rem;
  transition: background-color 0.3s ease-in-out;
}
#history .content .timeline li .popover.bottom {
  bottom: auto;
  top: calc(100% + 2.25rem);
  width: 22.1875rem;
}
#history .content .timeline li .popover.bottom::before {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#history .content .timeline li.active::before {
  background-color: #222222;
  width: 1.375rem;
  height: 1.375rem;
}
#history .content .timeline li.active h5 {
  opacity: 1;
}
#history .content .timeline li.active .popover {
  opacity: 1;
}
#history .content .timeline li.y2000 {
  margin-right: 31.25rem;
}
#history .content .timeline li.y2000::after {
  width: 29.75rem;
}
#history .content .timeline li.y2002 {
  margin-right: 21.875rem;
}
#history .content .timeline li.y2002::after {
  width: 20.375rem;
}
#history .content .timeline li.y2002-2 {
  margin-right: 34.375rem;
}
#history .content .timeline li.y2002-2::after {
  width: 32.875rem;
}
#history .content .timeline li.y2002-2 .popover {
  width: 28.125rem;
}
#history .content .timeline li.y2005 {
  margin-right: 42.5rem;
}
#history .content .timeline li.y2005::after {
  width: 41rem;
}
#history .content .timeline li.y2005 .popover {
  width: 28.125rem;
}
#history .content .timeline li.y2011 {
  margin-right: 20.5rem;
}
#history .content .timeline li.y2011::after {
  width: 19rem;
}
#history .content .timeline li.y2011-2 {
  margin-right: 34.375rem;
}
#history .content .timeline li.y2011-2::after {
  width: 32.875rem;
}
#history .content .timeline li.y2011-2 .popover {
  width: 22.1875rem;
}
#history .content .timeline li.y2015 {
  margin-right: 42.5rem;
}
#history .content .timeline li.y2015::after {
  width: 41rem;
}
#history .content .timeline li.y2015 .popover {
  width: 28.125rem;
}
#history .content .timeline li.y2024 {
  margin-right: 21rem;
}
#history .content .timeline li.y2024::after {
  width: 19.5rem;
}
#history .content .timeline li.y2024-2 {
  margin-right: 11.875rem;
}
#history .content .timeline li.y2024-2 .popover {
  width: max-content;
}
#history .content .timeline li.y2024-2::after {
  width: 10.375rem;
}
#history .content .timeline li.y2024-3 {
  margin-right: 28.125rem;
}
#history .content .timeline li.y2024-3::after {
  width: 26.625rem;
}
#history .content .timeline li.y2024-3 .popover {
  width: 19.375rem;
}
#history .content .thumbs {
  position: absolute;
  width: max-content;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 1rem;
  background-color: rgba(34, 34, 34, 0.9);
  padding: 1rem 2.5rem;
  display: flex;
  gap: 2rem;
}
#history .content .thumbs li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  color: #b0b0b0;
  padding-top: 0.25rem;
  cursor: pointer;
}
#history .content .thumbs li div {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#history .content .thumbs li div span {
  position: relative;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 1rem;
  background-color: #b0b0b0;
}
#history .content .thumbs li.active {
  color: #ffffff;
}
#history .content .thumbs li.active div span {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffffff;
}
#history .content .thumbs li.active div span::before, #history .content .thumbs li.active div span::after {
  background-color: #ffffff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
}
#history .content .thumbs li.active div span::before {
  width: 0.625rem;
  height: 0.625rem;
  opacity: 0.4;
}
#history .content .thumbs li.active div span::after {
  width: 1rem;
  height: 1rem;
  opacity: 0.2;
}
@media (max-width: 1279px) {
  #history .title {
    flex-wrap: wrap;
    gap: 0rem;
  }
  #history .title h2 {
    flex: 100%;
  }
  #history .title p {
    flex: 70svw;
    max-width: 70svw;
  }
}
@media (max-width: 991px) {
  #history .title p {
    flex: 1;
    max-width: 100%;
  }
  #history .content .timeline {
    padding-left: calc((100svw - 2.5rem) / 2);
  }
  #history .content .timeline li.y2024 {
    margin-right: 18.75rem;
  }
  #history .content .timeline li.y2024::after {
    width: 17.25rem;
  }
  #history .content .timeline li.y2024-2 {
    margin-right: 9.375rem;
  }
  #history .content .timeline li.y2024-2 .popover {
    width: max-content;
  }
  #history .content .timeline li.y2024-2::after {
    width: 7.875rem;
  }
}
@media (max-width: 767px) {
  #history .title h2 br {
    display: none;
  }
  #history .title h2 span {
    display: inline;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
  }
}
@media (max-width: 767px) and (max-width: 991px) {
  #history .title h2 span {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
@media (max-width: 575px) {
  #history .title {
    flex-direction: column;
  }
  #history .content {
    height: 25rem;
  }
  #history .content .timeline {
    padding-left: 5rem;
    height: 100%;
  }
  #history .content .thumbs {
    display: none;
    width: 100%;
    bottom: 0;
    padding: 1rem 1.5rem 1.5rem;
    justify-content: space-between;
    gap: 0;
    border-radius: 0rem;
  }
}

#service {
  background-image: url(../images/service-bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#service::after {
  position: absolute;
  bottom: 0.0625rem;
  width: 100%;
  height: 3rem;
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}
#service .container {
  padding: 6.25rem 0rem;
  border-bottom: 0.0625rem solid #d7d7d7;
}
#service .intro {
  display: flex;
  gap: 2.5rem;
  align-items: flex-end;
  margin-top: 6.25rem;
}
#service .intro.reverse {
  flex-direction: row-reverse;
}
#service .intro .describe {
  flex: 25rem;
  max-width: 25rem;
  padding-bottom: 6.25rem;
}
#service .intro .describe h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#service .intro .describe h3 span {
  font-size: 2.75rem;
  color: #e72e6b;
}
#service .intro .image {
  flex: 1;
}
#service .intro .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  #service .intro .describe {
    flex: 3;
  }
  #service .intro .image {
    flex: 5;
  }
}
@media (max-width: 575px) {
  #service .intro {
    flex-direction: column;
    gap: 0.75rem;
  }
  #service .intro .describe {
    padding-bottom: 0;
  }
  #service .intro.reverse {
    flex-direction: column;
  }
}

#products {
  margin-bottom: 3.125rem;
}
#products .title {
  display: flex;
  gap: 2rem;
  padding: 6.25rem 0rem;
}
#products .title h2 {
  flex: 1;
}
#products .title p {
  flex: 1;
  padding: 0.5rem 0rem;
}
#products .swiper {
  margin-top: -1.25rem;
  padding-top: 1.25rem;
}
#products .swiper .swiper-slide {
  max-width: 47.8125rem;
}
#products .swiper .swiper-slide img {
  border-radius: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
#products .swiper .swiper-slide div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
#products .swiper .swiper-slide div button {
  max-width: max-content;
}
@media (max-width: 575px) {
  #products .title {
    flex-direction: column;
    gap: 0;
  }
}

#contact {
  margin: 6.25rem auto;
  border-radius: 3rem;
  background-color: #e72e6b;
  color: #ffffff;
  padding: 6.25rem 0rem;
  text-align: center;
}
#contact h6 {
  margin: 1.25rem 0rem 2.5rem 0rem;
}
#contact button {
  margin: 0rem auto;
}
@media (max-width: 575px) {
  #contact {
    padding: 2.5rem 1.25rem;
  }
  #contact h1 {
    font-size: 1.5rem;
  }
}

footer {
  max-width: 75rem;
  margin: auto;
  text-align: center;
  border-top: 0.0625rem solid #d7d7d7;
  padding: 2rem 0rem 3.75rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer > * {
  flex: 1;
}
footer copyright {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c4c4c;
  text-align: left;
}
@media (max-width: 991px) {
  footer copyright {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
footer .certification {
  text-align: right;
}
footer .certification img {
  height: 2.5rem;
  margin-left: 1rem;
}
@media (max-width: 991px) {
  footer {
    flex-wrap: wrap;
    padding: 1.25rem 0 3.75rem;
  }
  footer copyright {
    flex: 100%;
    text-align: center;
    margin-bottom: 1.75rem;
  }
  footer .footer_logo {
    flex: auto;
    max-width: max-content;
  }
  footer .certification img {
    margin-left: 0.25rem;
  }
}

* {
  font-family: "noto sans tc", sans-serif;
}

body {
  overflow-x: hidden;
}

::-moz-selection {
  color: #e72e6b;
  background-color: rgba(0, 0, 0, 0.8);
}

::selection {
  color: #e72e6b;
  background-color: rgba(0, 0, 0, 0.8);
}